@charset "utf-8";
/* %->가로 */

img{
    max-width: 100%;
}

div#box{
    /* width: 70%; */
    width:80%; /* 1200px */
    height:500px;
    margin:0 auto;
    background-color: pink;
}

section#s_box01{
    width:81.66666666%; /*980px*/
    height:500px;
    float:left;
    background-color: orangered;
}

p.par_01{
    width: 61.2244897%; /*600px*/
    height:450px;
    float:left;
    background-color: orange;
}

p.par_02{
    width:38.7755102%; /*380px*/
    height:450px;
    float:left;
    background-color: blue;
}

section#s_box02{
    width:18.3333333% /*220px*/;
    height:500px;
    float:left;
    background-color: yellow;
}








