#root{
  width:800px;
  margin: 0 auto;
  padding:20px;
  background-color:orange;
}

.results{
  background-color:#fff;
  padding:20px;
 
}
.person{
  
  border-bottom:1px solid #666;
  margin-bottom:30pxp;
  clear:both;
  overflow: hidden;
}
.person img{
  width:100px;
  float:left;
}