@charset "UTF-8";
/* CSS Document */
/*keyframes*/
@keyframes ani {
	0%{
		left:0;
	}
	100%{
		left:500px;
	}
}

@keyframes opacity {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.2;
	}
	100%{
		opacity: 0.8;
	}
}

@keyframes scale {
	0%{
		transform: scale(1);
	}
	80%{
		transform: scale(1.5);
	}
}
	
div.box{
	width:100px; 
	height:100px; 
	position:absolute; 
	left:0px; top:0px;
	background:#9F0;
	border-radius: 50%;
	animation-name:ani, opacity;
	animation-duration: 1s, 3s;
	animation-timing-function: linear, ease-in;
	animation-iteration-count: 3,10;
	/* animation-direction: normal;  //기본*/
	/* animation-direction: reverse; //거꾸로*/
	/* 왕복 */
	animation-direction: alternate, reverse;
	/* animation-direction: alternate-reverse; //반대편시작으로 왕복 */
	/* animation-fill-mode: forwards; //도착한 지점에서 멈추기 */
	/* animation-play-state: running; //동작*/
	/* animation-play-state: paused; //안움직임 */
}

p{
	width: 100px;
	height: 20px;
	position:absolute;
	left:0;
	top:40px;
	background-color: coral;
	/* border-radius: 50%; */
	animation: 1s ease-in infinite alternate ani, 
				3s ease-in-out infinite alternate-reverse opacity,
				2s ease infinite alternate scale;
}
